<html>

<div class = "mainContent">

  <div class="header" id = "aboutMePage">
    <h1 class = "title">關於我 － <span class = "noLetterSpace">Michael Hsu</span> </h1>
    <hr class = "line">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;學生在大學課堂的學習自修外,也於平時閒暇時間磨練自己,以實際的社會工作經驗去培養專業技能及發展資管領域外的輔助能力,在充滿壓力的環境,才能快速成長,因此我時常事前做好時間規劃,並不斷地為自己增加挑戰,整合創意邏輯思維,除了挑戰自己,更督促自己「一旦做了,就要全力以赴」。</p>
    <div id = "more">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在與同儕之間有著豐富工作經驗差距外,在人際關係的培養也是學生相當重視的環節,企業的流程溝通和客戶端協調,中間的互動、開會,都考驗著社會經歷與人際關係的表現,如何與公司負責人、上下屬、客戶、同事面對面開會交涉,學生以積極且善於表達的能力及剛柔並濟的處事態度,在各職位都有優良的工作成果表現,同時也備受肯定。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大學期間,除了工作之外,各課程學期報告,學生時常擔任組長一職,實際感受到領導者與被領導者本質的不同,領導者有著領導魅力、整合思維、人際調和、危機處理、時間規劃等能力,在工作擔任領導人身分時,透過集思廣益共同解決問題,並提供整合統籌想法,訂定計畫,為了讓同事與組員間有著強烈的歸屬感與向心力,不定期的聚餐與心得交流也是學生領導力一環的作法。</p>

    </div>
  </div>
  <div class = "readMore floatRight hide" id = "aboutMeText">Read More</div>
</div>
<!--
  <div class = "imgBlock">
    <img class = "middleImg" src = "assets/img/ncue-1.jpeg">
    <img src="assets/img/ncue-1.jpeg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">

    <img class = "middleImg" src = "assets/img/ncue-2.jpeg">
    <img class = "middleImg" src = "assets/img/ncue-3.jpeg">

  </div>
!-->
<div class="imgBlock">
  <div class="container">
    <div class="row">


      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/ncue-2.jpeg" target="_blank">
            <img src="assets/img/ncue-2.jpeg" alt="Nature" style="width:80%">
            <div class="caption">
              <div style="color: white">PersonaFred發表</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/ncue-3.jpeg" target="_blank">
            <img src="assets/img/ncue-3.jpeg" alt="Fjords" style="width:80%">
            <div class="caption">
              <div style="color: white">激發學生創意競賽第二名</div>

            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
