<html>
<div class = "unit group" id = "skills">
  <h1 class = "title">能力自評 － <span class = "noLetterSpace">Skills</span></h1>
  <hr class = "line">
  <div class = "contentBar group">
    <div class = "barIcon floatLeft barIconColor-1">
      <img src = "img/coding.png">
      <h4>技術能力</h4>
    </div>
    <div class = "barItemList barItemListColor-1">
      <div class = "barItem ">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "frontEndleft" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">60%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">網頁前端</h4>
          <hr>
          <div class = "meta">Html、CSS、Javascript(Angular真的難)</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "app" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">70%</div>
          
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">應用程式</h4>
          <hr>
          <div class = "meta">Android Studio</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "dataScienceleft" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">80%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">資料科學</h4>
          <hr>
          <div class = "meta">Python、Keras(CNN)、Web Crawler</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "versionControlleft" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">60%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">版本控制</h4>
          <hr>
          <div class = "meta">Github</div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
