<html>
<div class = "unit group" id = "educationPage">
  <h1 class = "title">學歷 － <span class = "noLetterSpace">Education</span> </h1>

  <!--<div class="header" id = "aboutMePage">
    <h1 class = "title">關於我 － <span class = "noLetterSpace">Michael Hsu</span> </h1> !-->

  <hr class = "line">
  <div class = "cardBlock group">
    <div class="ui yellow right ribbon label">校排不知道太多學霸</div>
    <div class = "cardFront">
      <div id = "highSchool" class="opacityBackground">
        <a href="assets/img/highschool.jpg"></a>
      </div>

      <h3 class = "cardHead">高中</h3>
      <img class = "cardImg" src = "assets/img/school-1.jpeg">
      <h4 class="cardH4">臺南市私立長榮中學</h4>
      <h4 class="cardH4">讀自然組但勿打誤撞讀資管</h4>
    </div>

    <div class = "cardBack cardColorOrange-1">
      <img class = "cardImgBack" src = "assets/img/school1-1.jpeg">
      <h4 class = "cardBackHeader">人格特質的養成</h4>
      <div class="meta">
        盡守本份、處事理性、待人和善、樂於助人
      </div>
      <div class = "cardBackContent">
        <div class = "listItem listItemColor-1 group">

          <img class="floatLeftImg" src="assets/img/schoolicon.jpeg">
          <div class = "floatLeft">
            <div class = "listHeader">班級生活</div>
            <div class = "listP">長大了話就變少了</div>
          </div>
        </div>
        <div class = "listItem listItemColor-1 group">
          <img class="floatLeftImg" src="assets/img/papericon.jpeg">
          <div class = "floatLeft">
            <div class = "listHeader">自主管理</div>
            <div class = "listP">能獨立作業，但更擅長團隊</div>
          </div>
        </div>
        <div class = "listItem listItemColor-1 group">
          <img class="floatLeftImg" src="assets/img/helpicon.jpeg">
          <div class = "floatLeft">
            <div class = "listHeader">做事態度</div>
            <div class = "listP">超級屬於各人自幹</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class = "cardBlock">
    <div class="ui orange right ribbon label">系排你猜猜看</div>
    <div class = "cardFront">
      <div id = "college" class="opacityBackground"></div>
      <h3 class = "cardHead">大學</h3>
      <img class = "cardImg" src = "assets/img/school2.jpeg">
      <h4 class="cardH4">國立高雄大學</h4>
      <h4 class="cardH4">資訊管理學系</h4>
    </div>
    <div class = "cardBack cardColorOrange-2">
      <img class = "cardImgBack" src = "assets/img/school-2.jpeg">
      <h4 class = "cardBackHeader">社會力的建立</h4>
      <div class="meta">
        團隊合作、專業基礎、領導能力、危機處理
      </div>
      <div class = "cardBackContent">
        <div class = "listItem listItemColor-2">
          <img class="floatLeftImg" src="assets/img/code.jpg">
          <div class = "floatLeft">
            <div class = "listHeader">專業養成</div>
            <div class = "listP">資訊與管理均衡發展</div>
          </div>
        </div>
        <div class = "listItem listItemColor-2">
          <img class="floatLeftImg" src="assets/img/team.jpg">
          <div class = "floatLeft">
            <div class = "listHeader">領導團隊</div>
            <div class = "listP">擔任組長單幹</div>
          </div>
        </div>
        <div class = "listItem listItemColor-2">
          <img class="floatLeftImg" src="assets/img/medal.jpg">
          <div class = "floatLeft">
            <div class = "listHeader">合作競賽</div>
            <div class = "listP">與團隊共獲殊榮</div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class = "cardBlock">
    <div class="ui red right ribbon label">文耀我老闆</div>
    <div class = "cardFront">
      <div id = "college-2" class="opacityBackground"></div>
      <h3 class = "cardHead">研究所</h3>
      <img class = "cardImg" src = "assets/img/school3.jpeg">
      <h4 class="cardH4">國立彰化師範大學</h4>
      <h4 class="cardH4">資訊管理學系碩士班</h4>
    </div>
    <div class = "cardBack cardColorOrange-3">
      <img class = "cardImgBack" src = "assets/img/school-3.jpg">
      <h4 class = "cardBackHeader">鑽研出專業專精</h4>
      <div class="meta">
        邏輯思考、問題解決、細心細膩、栽培自我
      </div>
      <div class = "cardBackContent">
        <div class = "listItem listItemColor-3">
          <img class="floatLeftImg" src="assets/img/graduation-hat.jpg">
          <div class = "floatLeft">
            <div class = "listHeader">研讀資管領域</div>
            <div class = "listP">進入管理組並研究相關</div>
          </div>
        </div>
        <div class = "listItem listItemColor-3">
          <img class="floatLeftImg" src="assets/img/think.jpg">
          <div class = "floatLeft">
            <div class = "listHeader">嚴謹思考以解決問題</div>
            <div class = "listP">撰寫論文的訓練過程</div>
          </div>
        </div>
        <div class = "listItem listItemColor-3">
          <img class="floatLeftImg" src="assets/img/workteam.jpg">
          <div class = "floatLeft">
            <div class = "listHeader">為進入社會而準備</div>
            <div class = "listP">加學生團隊與企導計畫</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


</html>
